
/Data-mining-TUM.wiki/*
Task_3/Hadoop/Java/prime/target/
Task_3/Hadoop/Java/wiki_parser/parser/target/
Task_3/Hadoop/Java/wordcount/target/
Task_3/Hadoop/Scala/prime/.bsp/
Task_3/Hadoop/Scala/prime/.metals/
Task_3/Hadoop/Scala/prime/.vscode/
Task_3/Hadoop/Scala/prime/project/
Task_3/Hadoop/Scala/prime/target/
Task_3/Scala/prime/target/
Task_3/Scala/wordcount/target/
Task_3/ScalaSbt/hello-world/.bsp/
Task_3/ScalaSbt/hello-world/newtest/
Task_3/ScalaSbt/hello-world/newtest1/
Task_3/ScalaSbt/hello-world/project/
Task_3/ScalaSbt/hello-world/target/
Task_3/ScalaSbt/hello-world/wordtest/
Task_3/Spark/Java/prime/target/
Task_3/Spark/Java/wordcount/wordcount/target/
Task_3/Hadoop/Scala/wordcount/project/
Task_3/Hadoop/Scala/wordcount/target/
Task_3/Spark/Scala/prime/project/
Task_3/Spark/Scala/prime/target/
Task_3/Spark/.metals/
Task_3/Spark/.vscode/