Task_3/Java/prime/target/filein.txt
Task_3/Java/prime/target/nohup.out
Task_3/Java/prime/target/prime-1.0-SNAPSHOT.jar
Task_3/Java/prime/target/prime-1.0-SNAPSHOT.jar
Task_3/Java/prime/target/classes/com/prime/App$1.class
Task_3/Java/prime/target/classes/com/prime/App$PrimesMap.class
Task_3/Java/prime/target/classes/com/prime/App.class
Task_3/Java/prime/target/surefire-reports/TEST-com.prime.AppTest.xml
